{% extends 'Student/base.html' %}

{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/EmailConfirmation.css' %}">


<div class="container mt-5 text-center">
    <h2 class="mb-4">Forgot Password?</h2>
    <form method="POST">
        {% csrf_token %}
        <label for="email">Email: </label>
        <input type="email" name="email">
        <br>
        <input type="submit" value="Reset My Password">
    </form>
    <br>
    <p>If your email is valid you will receive an Email shortly with the instructions to reset your Password</p>
</div>


{% endblock %}