{% extends 'Student/base.html' %}
{% load static %}

{% block title %}
Welcome|
{% endblock %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/home.css' %}">

<div class="homepage-container">
    <div class="left-container">
        <h1>Welcome</h1>
        <div class="links">
            {% if request.user.is_authenticated and request.user.is_student %}
                <h2>{{ request.user.username }}</h2>
                <a href="{% url 'profile' pk=request.user.id %}" class="btn btn-primary">View Your profile</a>
            {% else %}
                 <a href="{% url 'login_student' %}" class="btn btn-primary">Login</a>
                <a href="{% url 'register_student' %}" class="btn btn-primary">Register</a>
            {% endif %}
            {% if request.user.is_admin %}
                <p class="admin-message">Hey admin, you can move to your panel by clicking the following</p>
                <a href="/adminlogin/" class="btn btn-primary admin-panel-btn">Admin Panel</a>
            {% else %}
                <a href="/adminlogin/" class="btn btn-primary admin-panel-btn">Admin Panel</a>
            {% endif %}
        </div>
    </div>
    <div class="right-container">
        <img src="{% static 'Student/home.jpg' %}" alt="Home Image">
    </div>
</div>

{% endblock %}
