{% extends 'Student/base.html' %}

{% load static %}

{% block content %}

   <link rel="stylesheet" href="{% static 'css/CreateQuestion.css' %}">

<div class="container">
    <h1>Create Question</h1>
    {% if error %}
         <p style="color: red;">{{ error }}</p>
    {% endif %}
    <form id="question-form" method="post">
        {% csrf_token %}
        {{ question_form.as_p }}
        <div id="options_formset">
            {{ formset.management_form }}
            {% for form in formset %}
                <div class="option-form">
                    {{ form.as_p }}
                    <button type="button" class="remove-option">Remove</button>
                </div>
            {% endfor %}
        </div>
        <button type="button" id="add-option">Add Option</button>
        <button type="submit">Save</button>
    </form>
</div>

<script src="{% static 'Admin/js/CreateQuestion.js' %}"></script>
{% endblock %}
