{% extends 'Student/base.html' %}

{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/Quizes.css' %}">

    <div class="container mt-5">
    <h1 class="mb-4">Quizzes</h1>
    <div class="list-group">
        {% if quizes %}
            {% for quiz in quizes %}
                <div class="list-group-item d-flex justify-content-between align-items-center">
                    <span class="quiz-title">{{ quiz.title }}</span>
                    <div class="button-group">
                        <a class="btn btn-success btn-sm" href="{% url 'quiz_detail' pk=quiz.pk %}">View</a>
                        <a class="btn btn-success btn-sm" href="{% url 'quizattempts' pk=quiz.id %}">Result</a>
                        <form action="{% url 'quiz_delete' pk=quiz.pk %}" method="post" style="display:inline;">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                        </form>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p class="text-center">No Quizzes to display</p>
        {% endif %}
    </div>
    <div class="mt-4 d-flex justify-content-center">
        <a class="btn btn-primary add" href="{% url 'createQuiz' %}">Create New Quiz</a>
        <a class="btn btn-primary add" href="{% url 'createQuiz2' %}">Create New Quiz 2</a>
    </div>
</div>

{% endblock %}
