{% extends 'Student/base.html' %}

{% block content %}

<div class="container">
    <h2 class="quiz_title"><strong>Quiz Title:</strong> {{ quiz.title }}</h2>
    <p><strong>Assigned To:</strong>
        <ul>
            {% for student in assigned_students %}
                <li>{{ student.username }}</li>
            {% endfor %}
        </ul>
    </p>
    <p><strong>Difficulty Level:</strong> {{ quiz.get_difficulty_level_display }}</p>
    <p><strong>Total Score:</strong> {{ quiz.Total_score }}</p>
    <p><strong>Time Allowed:</strong> {{ quiz.Time_allowed }} minutes</p>

    <hr>

    <h3>Questions:</h3>
    <ul class="question-list">
        {% for question in questions %}
        <li class="question-item d-flex justify-content-between align-items-center">
            <div>
                <div class="question-statement">{{ question.question_statement }}</div>
                <div class="question-details">
                    <p><strong>Type:</strong> {{ question.get_question_type_display }}</p>
                    <p><strong>Difficulty Level:</strong> {{ question.get_difficulty_level_display }}</p>
                    {% if question.correct_answer %}
                        <p><strong>Correct Answer:</strong> {{ question.correct_answer }}</p>
                    {% endif %}
                    {% if question_options %}
                        <p><strong>Answer Options:</strong></p>
                        <ul class="answer-options">
                            {% for key, value in question_options.items %}
                                {% if key == question.id %}
                                    {% for option_text in value %}
                                        <li>{{ option_text }}</li>
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p>No Options for this question</p>
                    {% endif %}
                </div>
            </div>
            <a class="btn-update" href="{% url 'updateQuestion' pk=question.id %}">Update Question</a>
        </li>
        {% endfor %}
    </ul>

    <div class="quiz-footer">
        <div class="row justify-content-center">
            <div class="col-md-3">
                <a href="{% url 'quizes' %}" class="btn btn-primary btn-block">Back to Quizzes</a>
            </div>
            <div class="col-md-3">
                <a href="{% url 'updateQuiz' pk=quiz.pk %}" class="btn btn-primary btn-block">Update Quiz</a>
            </div>
        </div>
    </div>
</div>

<style>
    .container {
        margin-top: 15px;
        max-width: 800px;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 8px;
        background-color: #f9f9f9;
    }

    .quiz_title {
        color: #333;
    }

    .question-list {
        list-style-type: none;
        padding: 0;
    }

    .question-item {
        margin-bottom: 20px;
        padding: 15px;
        border: 1px solid #ddd;
        border-radius: 4px;
        background-color: #fff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .question-statement {
        font-size: 18px;
        margin-bottom: 10px;
        color: #333;
    }

    .question-details {
        font-size: 14px;
        color: #666;
    }

    .answer-options {
        margin-top: 5px;
        padding-left: 20px;
        list-style-type: disc;
        color: #888;
    }

    .quiz-footer {
        text-align: center;
        margin-top: 20px;
        align-content: center;
        align-items: center;
    }

    .btn {
        padding: 10px 20px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 4px;
        text-decoration: none;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .btn:hover {
        background-color: #0056b3;
    }

    .btn-block {
        display: block;
        width: 100%;
        margin-top: 10px;
    }

    .btn-update {
        margin-top: 10px;
        margin-right: 20px;
        padding: 10px 20px;
        background-color: #28a745;
        color: #ffffff;
        text-decoration: none;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .btn-update:hover {
        background-color: #218838;
        color: aliceblue;
        text-decoration: none;
    }
</style>

{% endblock %}
