{% extends 'Student/base.html' %}

{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/QuizDetails.css' %}">

<div class="container">
    <h2 class="quiz_title"><strong>Quiz Title:</strong> {{ quiz.title }}</h2>
    <p><strong>Assigned To:</strong>
        <ul>
            {% for student in assigned_students %}
                <li>{{ student.username }}</li>
            {% endfor %}
        </ul>
    </p>
    <p><strong>Difficulty Level:</strong> {{ quiz.get_difficulty_level_display }}</p>
    <p><strong>Total Score:</strong> {{ quiz.Total_score }}</p>
    <p><strong>Time Allowed:</strong> {{ quiz.Time_allowed }} minutes</p>

    <hr>

    <h3>Questions:</h3>
    <ul class="question-list">
        {% for question in questions %}
        <li class="question-item d-flex justify-content-between align-items-center">
            <div>
                <div class="question-statement">{{ question.question_statement }}</div>
                <div class="question-details">
                    <p><strong>Type:</strong> {{ question.get_question_type_display }}</p>
                    <p><strong>Difficulty Level:</strong> {{ question.get_difficulty_level_display }}</p>
                    {% if question.correct_answer %}
                        <p><strong>Correct Answer:</strong> {{ question.correct_answer }}</p>
                    {% endif %}
                    {% if question_options %}
                        <p><strong>Answer Options:</strong></p>
                        <ul class="answer-options">
                            {% for key, value in question_options.items %}
                                {% if key == question.id %}
                                    {% for option_text in value %}
                                        <li>{{ option_text }}</li>
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p>No Options for this question</p>
                    {% endif %}
                </div>
            </div>
            <a class="btn-update" href="{% url 'updateQuestion' pk=question.id %}">Update Question</a>
        </li>
        {% endfor %}
    </ul>

    <div class="quiz-footer">
        <div class="row justify-content-center">
            <div class="col-md-3">
                <a href="{% url 'quizes' %}" class="btn btn-primary btn-block">Back to Quizzes</a>
            </div>
            <div class="col-md-3">
                <a href="{% url 'updateQuiz' pk=quiz.pk %}" class="btn btn-primary btn-block">Update Quiz</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
