{% extends 'Student/base.html' %}

{% load static %}

{% block content %}

   <link rel="stylesheet" href="{% static 'css/Students.css' %}">

<h1 class="text-center">Welcome Admin</h1>
<div class="container">
    <div class="row">
        {% for student in students %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ student.username }}</h5>
                    <p class="card-text"><strong>Email:</strong> {{ student.email }}</p>
                    <p class="card-text"><strong>Phone Number:</strong> {{ student.phone_number }}</p>
                    <p class="card-text"><strong>Enrollment ID:</strong> {{ student.enrollment_number }}</p>
                    <a href="{% url 'update_student' pk=student.id %}" class="btn btn-warning">Update</a>
                    <form action="{% url 'delete_student' pk=student.id %}" method="post" style="display:inline;">
                        {% csrf_token %}
                        <button class="btn btn-danger" type="submit">Delete</button>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <a class="btn btn-primary" href="http://127.0.0.1:8000/register/">Add New Student</a>
</div>


{% endblock %}
